@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0d3250;
  --secondary: #3c97ff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}